<%= render "shared/second-header"%>

<div class="second-main">
  <div class= "top-content">
  </div>
  <div class= "bottom-content">
    <div class="form-box">
      <%= form_with model: @user, url: '/users', class: 'hoge', local: true do |f| %>
        <%# エラーメッセージ %>
          <%= render 'shared/error_messages', model: f.object %>
        <%# // エラーメッセージ %>

        <div class="field">
          <%= f.text_field :username, class: "input", id: "username", placeholder: "ユーザー名", maxlength: "20" %>
        </div>
        
        <div class="field">
          <%= f.email_field :email, class: "input", id: "email", placeholder: "メールアドレス", autofocus: true %>
        </div>

        <div class="field">
          <%= f.password_field :password, class: "input", id: "password", placeholder: "パスワード" %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, class: "input", id: "password-confirmation", placeholder: "再入力" %>
        </div>

        <div class="regist">
          <%= f.submit "アカウント登録", class: "regist-btn" %>
        </div>

      <% end %>
    </div>

    <div class = "skip-box">
    </div>
  </div>
</div>
