<%= link_to image_tag("output_app_logo_second.png", class: "output_app_logo-second"), "/"%>  

<div class="sign-main">

  <%# ログイン系トップコンテンツ%>
  <%= render "shared/sign_top"%>
  <%# // ログイン系トップコンテンツ%>

  <div class="sign-bottom-title">
    ユーザー登録
  </div>

  <div class= "sign-bottom-content">

    <%# SNS認証 %>
    <%= render "shared/sign_sns_omniauth"%>
    <%# // SNS認証 %>

    <div class="sign-form-box">
      <%= form_with model: @user, url: '/users', local: true do |f| %>
        <%# エラーメッセージ %>
        <%= render 'shared/error_messages', model: f.object %>
        <%# // エラーメッセージ %>

       

        <div class="sign-field">
          <div class='username-rule hidden', id='username-rule' >
            <p>半角英数字のみ14文字まで</p>
          </div>
          <%= f.text_field :username, class: "sign-input", id: "username", placeholder: "ユーザー名", maxlength: "14" %>
        </div>
        
        <div class="sign-field">
          <%= f.email_field :email, class: "sign-input", id: "email", placeholder: "メールアドレス", autofocus: true %>
        </div>

        <div class="sign-field">
          <div class='password-rule hidden', id='password-rule' >
            <p>半角英数字のみ(両方含む)</p>
            <p>6文字以上</p>
          </div>
          <%= f.password_field :password, class: "sign-input", id: "password", placeholder: "パスワード" %>
        </div>

        <div class="sign-field">
          <%= f.password_field :password_confirmation, class: "sign-input", id: "password-confirmation", placeholder: "再入力" %>
        </div>

        <div class="regist">
          <%= f.submit "アカウント登録", class: "regist-btn" %>
        </div>

      <% end %>
    </div>
    
  </div>
</div>
