<%= render "shared/second-header"%>

<div class="sign-main">
  <%# ログイン系トップコンテンツ%>
  <%= render "shared/sign_top"%>
  <%# // ログイン系トップコンテンツ%>

  <div class= "sign-bottom-content">
    <div class="sign-form-box">
      <%= form_with model: @user, url: '/users', local: true do |f| %>
        <%# エラーメッセージ %>
        <%= render 'shared/error_messages', model: f.object %>
        <%# // エラーメッセージ %>

        <div class="sign-title">
          ユーザー登録
        </div>

        <div class="sign-field">
          <%= f.text_field :username, class: "sign-input", id: "username", placeholder: "ユーザー名（半角英数のみ14文字まで）", maxlength: "14" %>
        </div>
        
        <div class="sign-field">
          <%= f.email_field :email, class: "sign-input", id: "email", placeholder: "メールアドレス", autofocus: true %>
        </div>

        <div class="sign-field">
          <%= f.password_field :password, class: "sign-input", id: "password", placeholder: "パスワード（半角英数のみ6文字以上）" %>
        </div>

        <div class="sign-field">
          <%= f.password_field :password_confirmation, class: "sign-input", id: "password-confirmation", placeholder: "再入力" %>
        </div>

        <div class="regist">
          <%= f.submit "アカウント登録", class: "regist-btn" %>
        </div>

      <% end %>
    </div>

    <%# SNS認証 %>
    <%= render "shared/sign_sns_omniauth"%>
    <%# // SNS認証 %>
    
  </div>
</div>
