<%= render "shared/header" %>

<div class='main'>

  <%# Left-side %>
  <div class='top-left-content'>   
    <div class='whose-item-list-navi'>
      <%= image_tag @commented_user.profile.image.variant(combine_options:{gravity: :center, resize:"128x128^", crop:"128x128+0+0"}).processed, class: 'whose-user-avatar'%>
      <p><%= @commented_user.username%> 's Comment</p>
    </div>
    <%# @items リスト展開 %>
    <div id='item-pagenate'>
      <%= render "shared/item-list" %>
    </div>
    <%= link_to_next_page @items, 'もっと見る', remote: true, class: 'more-link', id: 'more-link' %>
    <%# // @items リスト展開 %>   
  </div>
  <%# // Left-side%>

  
  <%# Right-side %>
  <%= render 'shared/right_side' %>
  <%# // Right-side %>

</div>

<%= render "shared/footer" %>