<%= render "shared/header" %>

<div class='main'>

  <%# Left-side %>
  <div class='top-left-content'>   
    <div class='liked-item-list-navi'>
      <%= image_tag @liked_user.profile.image, class: 'liked-user-avatar'%>
      <p><%= @liked_user.username%> 's Liked Output</p>
    </div>
    <%# @items リスト展開 %>
    <%= render "shared/item-list" %>
    <%# // @items リスト展開 %>   
  </div>
  <%# // Left-side%>

  
  <%# Right-side %>
  <%= render 'shared/right_side' %>
  <%# // Right-side %>

</div>

<%= render "shared/footer" %>