<div class='user-card'>
  <%= image_tag @user.profile.image , class:"main-avatar"%>
  <div class='user-name'>
    <%= @user.username%>
  </div>
  <div class='user-status'>
    <div class='user-status-top'>
      <div class='user-status-nums'>
        <span class='status-title'>投稿</span>
        <span class='status-number'><%= @user.items.count %></span>
      </div>
      <div class='user-status-nums'>
        <span class='status-title'>コメント</span>
        <%= link_to @user.comments.count, "/comments/user/#{@user.id}", class: 'status-number' %>
      </div>
      <div class='user-status-nums'>
        <span class='status-title'>いいね</span>
        <%= link_to @user.likes.count, "/likes/user/#{@user.id}", class: 'status-number' %>
      </div>
    </div>
    <div class='user-status-bottom'>
      <div class='user-status-nums'>
        <span class='status-title'>フォロー</span>
        <span class='status-number'><%= @user.relationships.count %></span>
      </div>
      <%# フォロワー数はログインユーザーのみ表示%>
      <div class='user-status-nums'>
        <% if @user == current_user%>
          <span class='status-title'>フォロワー</span>
          <span class='status-number'><%= Relationship.where(follow_id: @user.id).count %></span>
        <% else %>
          <span class='status-title'>フォロワー</span>
          <span class='status-number'>-</span>
        <% end %>
      </div>
      <%# // フォロワー数はログインユーザーのみ表示%>
    </div>
  </div>
</div>