<%= render "shared/header" %>

<div class='main'>

  <%# Left-side %>
  <div class='top-left-content'>   
    <div class='whose-item-list-navi'>
      <%= image_tag @follower_user.profile.image, class: 'whose-user-avatar'%>
      <p><%= @follower_user.username%> 's follower</p>
    </div>
    <%# @users リスト展開 %>
    <div id='user-pagenate'>
      <%= render 'userlist'%>
    </div>
    <%= link_to_next_page @users, 'もっと見る', remote: true, class: 'more-link', id: 'more-link' %>
    <%# // @users リスト展開 %>   
  </div>
  <%# // Left-side %>
  
  <%# Right-side %>
  <%= render 'shared/right_side' %>
  <%# // Right-side %>

</div>

<%# スマホ用コマンド %>
<%= render 'shared/command'%>
<%# // スマホ用コマンド %>

<%= render "shared/footer" %>