<%= render "shared/header" %>

<div class='main'>

  <%# Left-side %>
  <div class='top-left-content'>   
    <div class='whose-item-list-navi'>
      <%= image_tag @follow_user.profile.image, class: 'whose-user-avatar'%>
      <p><%= @follow_user.username%> 's follow</p>
    </div>
    <%# @users リスト展開 %>
    <%= render 'userlist'%>
    <%# // @users リスト展開 %>   
  </div>
  <%# // Left-side %>
  
  <%# Right-side %>
  <%= render 'shared/right_side' %>
  <%# // Right-side %>

</div>

<%= render "shared/footer" %>