<%= render "shared/header" %>

<div class='main'>

  <%# Left-side %>
  <div class='top-left-content'>   
    <div class='item-list-navi'>
      <p>☀︎ ユーザー「 <%= params[:keyword] %> 」の検索結果</p>
    </div>
    <%# @users リスト展開 %>
    <%= render 'userlist'%>
    <%# // @users リスト展開 %>   
  </div>
  <%# // Left-side %>
  
  <%# Right-side %>
  <%= render 'shared/right_side' %>
  <%# // Right-side %>

</div>

<%= render "shared/footer" %>