<%= render "shared/header" %>

<div class='main'>
  <div class='user-left-content'>
    <div class="user-item-all">
    </div>
  </div>

  <div class='user-right-content'>
    <%# 共通user-card部分%>
    <%= render "shared/usercard" %>
    <%# // 共通user-card部分%>
    <div class="second-user-card">
      <div class='user-intro'>
        <%= @user.profile.intro %>
      </div>
      <%# プロフィール編集ボタン or フォローボタン 本人と本人以外で表示切り替え %>
      <%= link_to 'プロフィール編集', edit_user_profile_path(@user.profile.id), class: 'profile-edit-btn' %>
      <%# // プロフィール編集ボタン or フォローボタン 本人と本人以外で表示切り替え %>
      <%= link_to @user.profile.website, "#{ @user.profile.website }",  class: 'user-website' %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>