<%= render "shared/header" %>

<div class='main'>
  <%# Left : user-item-all %>
  <div class='user-left-content'>
    <div class="user-item-all">
    </div>
  </div>
  <%# // Left : user-item-all %>

  <%# Right : user-box %>
  <div class='user-right-content'>
    <div class='user-card'>
      <%= image_tag 'human_icon', class:"main-avatar"%>
      <div class='user-info'>
        <div class='user-name'>
          <%= 'hoge'%>
        </div>
        <div class='user-intro'>
          <%= 'hogehoge'%>
        </div>
      </div>
      <div class='user-status'>
        <div class='user-status-top'>
          <div class='user-status-nums'>
            <span class='status-title'>投稿</span>
            <span class='status-number'><%= '1' %></span>
          </div>
          <div class='user-status-nums'>
            <span class='status-title'>コメント</span>
            <span class='status-number'><%= '10' %></span>
          </div>
          <div class='user-status-nums'>
            <span class='status-title'>いいね</span>
            <span class='status-number'><%= '100' %></span>
          </div>
        </div>
        <div class='user-status-bottom'>
          <div class='user-status-nums'>
            <span class='status-title'>フォロー</span>
            <span class='status-number'><%= '1000' %></span>
          </div>
          <%# フォロワー数はログインユーザーのみ表示%>
          <div class='user-status-nums'>
            <span class='status-title'>フォロワー</span>
            <span class='status-number'><%= '100' %></span>
          </div>
          <%# // フォロワー数はログインユーザーのみ表示%>
        </div>
      </div>
      <%# プロフィール編集ボタン or フォローボタン 本人と本人以外で表示切り替え %>
      <%= link_to 'プロフィール編集', '#', class: 'profile-edit-btn' %>
      <%# // プロフィール編集ボタン or フォローボタン 本人と本人以外で表示切り替え %>
    </div>

    <div class='user-analytics'>
    </div>
  </div>
  <%# // Right : user-box %>
</div>
<%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "sign-out-btn" %>
<%= render "shared/footer" %>