<header class='header'>
  <div class='left-header'>
    <%= link_to image_tag("output_app_logo.png", class: "output_app_logo"), "/"%> 
  </div>

  <%# ログイン有無の条件分岐 %>
  <div class='right-header'>
    <% if user_signed_in? %>
      <ul class='signed-in-list'>
        <%= link_to 'TL', "/timeline/#{current_user.id}", class:"tl-list-btn" %>
        <%= link_to "/likes/user/#{current_user.id}" do %>
          <li class="like-list-btn">
            <%= image_tag "icon-like-white.png", class: "icon-like-white" %>
            <p>LIKE</p>
          </li>
        <% end %>
        <%= link_to new_item_path do %>
          <li class="new-item-btn">
            <%= image_tag "icon-new-white.png", class: "icon-new-white" %>
            <p>NEW</p> 
          </li>
        <% end %>
        <% if unchecked_notifications.any? %>
        <li><%= link_to image_tag("icon-bell-red.png", class: "icon-bell"), notifications_path %></li>
        <% else %>
        <li><%= link_to image_tag("icon-bell-white.png", class: "icon-bell"), notifications_path %></li>
        <% end %>
        <li><%= link_to image_tag(current_user.profile.image, class: "header-avatar"), user_path(current_user.id) %></li>
        <li><%= link_to image_tag("icon-like-brown.png", class: "like-list-btn-small"), "/likes/user/#{current_user.id}" %>
      </ul>
    <% else %>
      <ul class='not-signed-in-list'>
        <li><%= link_to 'ログイン', new_user_session_path, class: "sign-in-btn" %></li>
      </ul>
    <% end %>
  </div>
  <%# // ログイン有無の条件分岐 %>

</header>