<header class='header'>
  <div class='left-header'>
    <%= link_to image_tag("output_app_logo", class: "output_app_logo"), "/"%>  
    <div class='search-box'>
      <div class='search-title'>
        <p>▼SEARCH</p>
      </div>
      <ul class='search-list hidden', id='search-list'>
        <li class='search-list-parent category-search'>カテゴリー検索</li>
        <ul class='search-category-list hidden', id='search-category-list'>
          <li class='search-list-child'><%= link_to '> 本', "/items/category/1"%></li>
          <li class='search-list-child'><%= link_to '> Youtube', "/items/category/2"%></li>
          <li class='search-list-child'><%= link_to '> 記事/SNS', "/items/category/3"%></li>
          <li class='search-list-child'><%= link_to '> イベント', "/items/category/4"%></li>
          <li class='search-list-child'><%= link_to '> 出来事', "/items/category/5"%></li>
        </ul>
        <ul>
        <li class='search-list-parent'>タイトル検索</li>
        <li class='search-list-parent'>ユーザー名検索</li>
      </ul>
    </div>
  </div>

  <%# ログイン有無の条件分岐 %>
  <div class='right-header'>
    <% if user_signed_in? %>
      <ul class='signed-in-list'>
        <li><%= link_to "✔︎ LIKE", '#', class: "like-list-btn" %></li>
        <li><%= link_to "✏︎ NEW", new_item_path, class: "new-item-btn" %></li>
        <li><%= link_to "#{current_user.username.slice(0)}", user_path(current_user.id), class: "account-mark" %></li> 
      </ul>
    <% else %>
        <ul class='not-signed-in-list'>
          <li><%= link_to 'ユーザー登録', new_user_registration_path, class: "sign-up-btn" %></li>
          <li><%= link_to 'ログイン', new_user_session_path, class: "sign-in-btn" %></li>
        </ul>
      </div>
    <% end %>
  </div>
  <%# // ログイン有無の条件分岐 %>
</header>