<% @items.each do |item| %>
  <li class='item-list'>
    <%= link_to user_path(item.user.id) do %>
      <div class='list-profile-content'>
        <%= image_tag item.user.profile.image, class:'list-avatar'%>
        <span class='list-username'><%= item.user.username %></span>
      </div>
    <% end %>
    <div class='list-main-content'>
      <div class='list-title-content'>
        <p><%= link_to "#{item.title}", item_path(item.id) %></p>
      </div>
      <div class='list-cate-tag-content'>
        <div class='list-category'>
          <%= item.category.name %>
        </div>
        <div class='list-tag'>
          <p><%= item.tagbody %></p>
        </div>
      </div>
      <div class='list-detail-content'>
        <div class='list-detail'>
          <div class='list-like-comment'>
            <div class='list-like-count'>
             <%= '✔︎ 100' %>
            </div>
            <div class='list-comment-count'>
              <%= '💬100' %>
            </div>
          </div>
          <div class='list-created-at'>
            <%= l item.created_at %>
          </div>
        </div>
      </div>
    </div>
  </li>
<% end %>