<% @my_items.each do |item| %>
  <li class='my-item-list'>
    <div class='my-list-main-content'>
      <div class='my-list-cate-detail-content'>     
        <div class='my-list-category'>
          <%= item.category.name %>
        </div>
        <% if item.status_before_type_cast == 1 %>
          <div class='my-list-open'>
            open
          </div>
        <% else %>
          <div class='my-list-closed'>
            closed
          </div>
        <% end %>
      </div>
       <div class='my-list-title-content'>
        <p><%= link_to "#{item.title}", item_path(item.id) %></p>
      </div>
      <div class='my-list-detail-content'>
        <div class='list-like-comment'>
            <div class='my-list-like-count'>
              <span>✔︎ <%= Like.where(item_id: item.id).count %></span>
            </div>
            <div class='my-list-comment-count'>
              <span>💬 <%= Comment.where(item_id: item.id).count %></span>
            </div>
          </div>
        <div class='my-list-created-at'>
          <%= l item.created_at %>
        </div>  
      </div>   
    </div>
  </li>
<% end %>