<div class='toppage-user-card'>
  <%= image_tag @user.profile.image.variant(resize_to_fill: [128, 128]), class:"main-avatar"%>
  <div class='user-name'>
    <%= @user.username%>
  </div>
  <div class='user-status'>
    <div class='user-status-top'>
      <div class='user-status-nums'>
        <span class='status-title'>投稿</span>
        <span class='status-number'><%= @user.items.count %></span>
      </div>
      <div class='user-status-nums'>
        <span class='status-title'>コメント</span>
        <%= link_to @user.comments.count, "/comments/user/#{@user.id}", class: 'status-number' %>
      </div>
      <div class='user-status-nums'>
        <span class='status-title'>いいね</span>
        <%= link_to @user.likes.count, "/likes/user/#{@user.id}", class: 'status-number' %>
      </div>
    </div>
    <div class='user-status-bottom'>
      <div class='user-status-nums'>
        <span class='status-title'>フォロー</span>
        <%= link_to @user.followings.count, "/follows/user/#{@user.id}", class: 'status-number' %>
      </div>
      <div class='user-status-nums'>
        <span class='status-title'>フォロワー</span>
        <%= link_to @user.followers.count, "/followers/user/#{@user.id}", class: 'status-number' %>
      </div>
    </div>
  </div>
</div>