<% @user_items.each do |item| %>
  <li class='item-list'>
    <%= link_to user_path(item.user.id) do %>
      <div class='list-profile-content'>
        <%= image_tag item.user.profile.image, class:'list-avatar'%>
        <span class='list-username'><%= item.user.username %></span>
      </div>
    <% end %>
    <div class='users-list-main-content'>
      <div class='users-list-title-content'>
        <% if item.status_before_type_cast == 1 %>
          <div class='users-list-open'>
            open
          </div>
        <% else %>
          <div class='users-list-closed'>
            closed
          </div>
        <% end %>
        <p><%= link_to "#{item.title}", item_path(item.id) %></p>
      </div>
      <div class='list-cate-tag-content'>
        <div class='list-category'>
          <%= item.category.name %>
        </div>
        <div class='list-tag'>
          <p><%= item.tagbody %></p>
        </div>
      </div>
      <div class='list-detail-content'>
        <div class='list-detail'>
          <div class='list-like-comment'>
            <div class='list-like-count'>
              <%= image_tag "icon-like.png", class: 'list-like-icon'%>
              <%= Like.where(item_id: item.id).count %>
            </div>
            <div class='list-comment-count'>
              <%= image_tag "icon-comment.png", class: 'list-comment-icon'%>
              <%= Comment.where(item_id: item.id).count %>
            </div>
          </div>
          <div class='list-created-at'>
            <%= l item.created_at %>
          </div>
        </div>
      </div>
    </div>
  </li>
<% end %>