<%= render "shared/header" %>

<div class='main'>

  <%# Left-side %>
  <div class='top-left-content'>

    <%# Search-Contents %>
    <%= render 'shared/search_contents' %>
    <%# // Search-Contents %>

    <div class='item-list-navi'>
      <p>「 #<%= params[:keyword].tr('/０-９/', '/0-9/').tr('＃', '#').delete('#') %> 」の検索結果</p>
    </div>

    <%# @tags リスト展開 %>
    <div id='tag-pagenate'>
      <%= render 'search'%>
    </div>
    <%= link_to_next_page @tags, 'もっと見る', remote: true, class: 'more-link', id: 'more-link' %>
    <%# // @tags リスト展開 %>   
  </div>
  <%# // Left-side %>
  
  <%# Right-side %>
  <%= render 'shared/right_side' %>
  <%# // Right-side %>

</div>

<%# スマホ用コマンド %>
<%= render 'shared/command'%>
<%# // スマホ用コマンド %>

<%= render "shared/footer" %>