<%= link_to image_tag("output_app_logo_second.png", class: "output_app_logo-second"), "/"%>  

<div class="sign-main">
  <%# ログイン系トップコンテンツ%>
  <%= render "shared/sign_top"%>
  <%# // ログイン系トップコンテンツ%>

  <div class="sign-bottom-title">
    ログイン
  </div>

  <div class= "sign-bottom-content">

    <%# SNS認証 %>
    <%= render "shared/sign_sns_omniauth"%>
    <%# // SNS認証 %>

    <div class="sign-form-box">
      <%= form_with model: @user, url: '/users/sign_in', local: true do |f| %>
        <%# エラーメッセージ %>
        <div class='sign-in-flash-message'>
          <%= flash[:notice] %>
          <%= flash[:alert] %>
        </div>
        <%# // エラーメッセージ %>
        
        <div class="sign-field">
          <%= f.email_field :email, class: "sign-input", id: "email", placeholder: "メールアドレス", autofocus: true %>
        </div>

        <div class="sign-field">
          <%= f.password_field :password, class: "sign-input", id: "password", placeholder: "パスワード" %>
        </div>

        <div class="session">
          <%= f.submit "ログイン", class: "session-btn" %>
        </div>

      <% end %>
    </div>
    
  </div>
</div>
