<%= render "shared/second-header"%>

<div class="second-main">
  <div class= "top-content">
  </div>
  <div class= "bottom-content">
    <div class="form-box">
      <%= form_with model: @user, url: '/users/sign_in', class: 'hoge', local: true do |f| %>
        <%# エラーメッセージ %>
        <div class='sign-in-flash-message'>
          <%= flash[:notice] %>
          <%= flash[:alert] %>
        </div>
        <%# // エラーメッセージ %>
        
        <div class="field">
          <%= f.email_field :email, class: "input", id: "email", placeholder: "メールアドレス", autofocus: true %>
        </div>

        <div class="field">
          <%= f.password_field :password, class: "input", id: "password", placeholder: "パスワード" %>
        </div>

        <div class="session">
          <%= f.submit "ログイン", class: "session-btn" %>
        </div>

      <% end %>
    </div>

    <div class = "skip-box">
    </div>
  </div>
</div>
