<%= render "shared/header" %>


<%# ゲストログイン用コンテンツ%>
<% unless user_signed_in?%>
  <%= render 'guest'%>
<% end %>
<%# // ゲストログイン用コンテンツ%>

<div class='main'>

  <%# if user_signed_in? %>
    <%# if @user.username == 'guest' %>
      <%# ゲストログイン中！機能が制限されています。 %>
    <%# end %>
  <%# end %>

  <%# Left-side %>
  <div class='top-left-content'>
     <div class='search-bar'>
      <div class='search-bar-left'>
        <select class='search-menu' id='search-menu'>
          <option value="0">＃</option>
          <option value="1">✏︎</option>
          <option value="2">👤</option>
        </select>
      </div>
      <div class='search-bar-right'>
        <%= form_with(url: hashtags_path, local: true, method: :get, class:'hashtag-search-form', id:'hashtag-search-form') do |form| %>
          <%= form.text_field :keyword, class: "search-input" %>
          <%= form.submit "🔎", class: "search-btn" %>
        <% end %>
      </div>  
    </div>

    <div class='search-category'>
      <ul class='search-category-list'>
        <%=link_to "/items/category/1" do %>
          <li class='search-category-btn'>本</li>
        <% end %>
        <%=link_to "/items/category/2" do %>
          <li class='search-category-btn'>Youtube</li>
        <% end %>
        <%=link_to "/items/category/3" do %>
          <li class='search-category-btn'>記事/SNS</li>
        <% end %>
        <%=link_to "/items/category/4" do %>
          <li class='search-category-btn'>イベント</li>
        <% end %>
        <%=link_to "/items/category/5" do %>
          <li class='search-category-btn'>メモ</li>
        <% end %>
      </ul>
    </div>

    <div class='item-list-navi'>
      <p>☀︎ Pickup Output</p>
    </div>

    <%# @items リスト展開 %>
    <div id='item-pagenate'>
      <%= render "shared/item-list" %>
    </div>
    <%= link_to_next_page @items, 'もっと見る', remote: true, class: 'more-link', id: 'more-link' %>
    <%# // @items リスト展開 %>   
    
  </div>
  <%# // Left-side%>

  
  <%# Right-side %>
  <%= render 'shared/right_side' %>
  <%# // Right-side %>

</div>

<%= render "shared/footer" %>