<%= render "shared/header" %>

<% if user_signed_in? %>
  <% if @user.username == 'guest' %>
    ゲストログイン中！機能が制限されています。
  <% end %>
<% end %>


<div class='main'>

  <%# Left-side %>
  <div class='top-left-content'>

    <%# ゲストログイン用コンテンツ%>
    <% unless user_signed_in?%>
      <%= render 'guest'%>
    <% end %>
    <%# // ゲストログイン用コンテンツ%>

    <div class='item-list-navi'>
      <p>☀︎ Pickup Output</p>
    </div>

    <%# @items リスト展開 %>
    <%= render "shared/item-list" %>
    <%# // @items リスト展開 %>   
    
  </div>
  <%# // Left-side%>

  
  <%# Right-side %>
  <%= render 'shared/right_side' %>
  <%# // Right-side %>

</div>

<%= render "shared/footer" %>