<%= render "shared/header" %>

<%= form_with model:@item, url: '/items', local: true do |f| %>
  <div class='main'>
    <div class='new-content'>    
      <%# エラーメッセージ %>
      <%= render 'shared/error_messages', model: f.object %>
      <%# // エラーメッセージ %>
      <div class='caption-area'>
        <div class='first-box'>
          <%= f.text_field :title, class:'caption-input', id:'item-title', placeholder:'タイトル', maxlength: '40' %>
        </div>
        <div class='second-box'>
          <div class='second-box-left'>
            <ul class='category-list'>
              <li>
                <%= f.radio_button :category_id, '1', class: 'category-radio-btn' %>
                <label>本</label>
              </li>
              <li>
                <%= f.radio_button :category_id, '2', class: 'category-radio-btn' %>
                <label>Youtube</label>
              </li>
              <li>
                <%= f.radio_button :category_id, '3', class: 'category-radio-btn' %>
                <label>記事/SNS</label>
              </li>
              <li>
                <%= f.radio_button :category_id, '4', class: 'category-radio-btn' %>
                <label>イベント</label>
              </li>
              <li>
                <%= f.radio_button :category_id, '5', class: 'category-radio-btn' %>
                <label>メモ</label>
              </li>
            </ul>
          </div>
          <div class='second-box-right'>
            <%= f.text_field :tagbody, class:'caption-input', id:'item-tagbody', placeholder:'#ハッシュタグ', maxlength: '60' %>
          </div>
        </div>
        <div class='third-box'>
          <div class='third-box-left'>
            <span class='timer'>カウントアップタイマー機能を実装予定！！</span>
          </div>
          <div class='third-box-right'>
            <%= f.text_field :url, class:'caption-input', id:'item-url', placeholder:'参考URL' %>
          </div>
        </div>
        <div class='fourth-box'>
          <span>画像</span>
          <%= f.file_field :image, id:"item-image" %>
        </div>
      </div>

      <div class='input-area'>
        <div class='input-area-left'>
          <%= f.text_area :body, class:'body-input', id:'item-body',placeholder:'テキストを入力', maxlength: '100000' %>
        </div>
        <%# 右側 %>
        <div class='input-area-right'>
          <p>✍️ 開発者メモ</p>
          <p>>>> コンテンツ開発中 >>></P>
        </div>
        <%# // 右側%>
      </div>

      <div class='command-area'>
        <ul class='command-list'>
          <li>
            <%= f.select :status, Item.statuses.keys.to_a, {}, { class:'item-open' } %>
          </li>
          <li>
            <span class='item-preview'>プレビュー</span>
          </li>
          <li>
            <%= f.submit '記録する', class:'output-btn'%>
          </li>
        </ul>
      </div>
    </div> 
  </div>
<% end %>
