<%= render "shared/header" %>

<div class='main'>

  <%# Left-side %>
  <div class='top-left-content'>   
    <div class='item-list-navi'>
      <p>☀︎ タイトル「 <%= params[:keyword] %> 」の検索結果</p>
    </div>
    <%# @items リスト展開 %>
    <div id='item-pagenate'>
      <%= render "shared/item-list" %>
    </div>
    <%= link_to_next_page @items, 'もっと見る', remote: true, class: 'more-link', id: 'more-link' %>
    <%# // @items リスト展開 %>   
  </div>
  <%# // Left-side %>
  
  <%# Right-side %>
  <%= render 'shared/right_side' %>
  <%# // Right-side %>
  
</div>

<%= render "shared/footer" %>