<%= render "shared/header" %>

<div class='main'>
  <div class='show-left-content'>

    <div class='show-top'>      
      <div class='show-top-info'>
        <div class='show-top-profile'>
          <%= link_to image_tag(@item.user.profile.image, class: 'show-top-avatar'), user_path(@item.user.id) %>
          <%= link_to @item.user.username, user_path(@item.user.id), class: 'show-top-username' %>   
          <span class='show-top-updated_at'><%= l @item.updated_at %> 更新</span>
        </div>
        <div class='show-top-command'>
          <% if user_signed_in? && @item.user.id == current_user.id  %>
            <%= link_to '編集する', edit_item_path(@item.id), class:'item-edit-btn' %>
          <% elsif user_signed_in? %>
            <%# フォローボタン%>
            <%= render 'follow', user: @item.user%>
            <%# // フォローボタン%>
          <% end %>
        </div>
      </div>
      <div class='show-top-caption'>
        <div class='show-top-title'>
          <%= @item.title %>
        </div>
        <div class='show-top-cate-tag'>
          <div class='show-top-category'>
            <%= @item.category.name%>
          </div>
          <div class='show-top-tag'>
            <%= render_with_tags(@item.tagbody) %>
          </div>
        </div>
        <div class='show-top-url'>
          <%= link_to "✴︎Source✴︎　#{@item.url}", @item.url %>
        </div>
      </div>
      <div class='show-top-communication'>
        <div class='show-top-communication-left' id="like-btn-<%= @item.id %>">
          <%# LIKEボタン%>
          <%= render partial: 'like', locals: { item: @item } %>
          <%# // LIKEボタン%>
        </div>
        <div class='show-top-communication-right'>
          <%= link_to 'Twitter', '#', class:'show-top-sns-btn' %>
          <%= link_to 'LINE', '#', class:'show-top-sns-btn' %>
        </div>
      </div>
      <div class='show-top-communication-after'>
        <%= link_to 'LIKEしたユーザーを見る', "/items/like/#{@item.id}" %>
      </div>
    </div>

    <div class='show-body'> 
      <%= markdown(@item.body).html_safe %>
      <%#= safe_join(@item.body.split("\n"),tag(:br)) %>
    </div>

    <div class='show-bottom'>
      <div class='show-bottom-first'>
      </div>
      <div class='show-bottom-second'>
      </div>
    </div>

    <div class='comment-area'>
      <%# コメントゾーン%>
      <%= render 'comment'%>
      <%# // コメントゾーン%>
    </div>

  </div>

  <div class='show-right-content'>
    <p>✍️ 開発者メモ</p>
    <p>>>> コンテンツ開発中 >>></P>
  </div>
</div>

<%= render "shared/footer" %>