<%= render "shared/header" %>

<div class='main'>
  <div class='show-left-content'>

    <div class='show-top'>      
      <div class='show-top-info'>
        <div class='show-top-profile'>
          <%= link_to image_tag(@item.user.profile.image, class: 'show-top-avatar'), user_path(@item.user.id) %>
          <%= link_to @item.user.username, user_path(@item.user.id), class: 'show-top-username' %>   
          <span class='show-top-updated_at'><%= l @item.updated_at %> 更新</span>
        </div>
        <div class='show-top-command'>
          <% if user_signed_in? && @item.user.id == current_user.id  %>
            <%= link_to '編集する', edit_item_path(@item.id), class:'item-edit-btn' %>
          <% elsif user_signed_in? %>
            <%# フォローボタン%>
            <%= render 'shared/show_follow', user: @item.user%>
            <%# // フォローボタン%>
          <% end %>
        </div>
      </div>
      <div class='show-top-caption'>
        <div class='show-top-title'>
          <%= @item.title %>
        </div>
        <div class='show-top-cate-tag'>
          <div class='show-top-category'>
            <%= @item.category.name%>
          </div>
          <div class='show-top-tag'>
            <%= @item.tagbody %>
          </div>
        </div>
        <div class='show-top-url'>
          <%= link_to "✴︎Source✴︎　#{@item.url}", @item.url %>
        </div>
      </div>
      <div class='show-top-communication'>
        <div class='show-top-communication-left' id="like-btn-<%= @item.id %>">
          <%# LIKEボタン%>
          <%= render partial: 'shared/like', locals: { item: @item } %>
          <%# // LIKEボタン%>
        </div>
        <div class='show-top-communication-right'>
          <%= link_to 'Twitter', '#', class:'show-top-sns-btn' %>
          <%= link_to 'LINE', '#', class:'show-top-sns-btn' %>
        </div>
      </div>
    </div>

    <div class='show-body'>
      <%= @item.body %>
    </div>

    <div class='show-bottom'>
    </div>

    <div class='comment-area'>
      <div class='comment-info'>
        💬コメント
      </div>
      <% if user_signed_in? %>
        <div class='comment-input'>
          <%= form_with model: @comment, url: item_comments_path(@item.id), local: true do |f| %>
            <div class='comment-btn-box'>
              <div class='comment-btn-box-left'>
                <%= image_tag current_user.profile.image, class:'show-top-avatar'%>
                <span class='show-top-username'><%= current_user.username %></span>
              </div>
              <%= f.submit 'コメントする', class:'comment-btn'%>
            </div>
            <div class='comment-text-box'>
              <%= f.text_area :message, class:"comment-text", id:"comment-text", placeholder:"テキストを入力", maxlength:"10000" %>
            </div>
          <% end %>
        </div>
      <% else %>
        <span><%= link_to 'ユーザー登録', new_user_registration_path %>をしてコメントを書こう！</span>
      <% end %>

      <% @comments.each do |comment| %>
        <div class="comment-content">
          <div class="comment-btn-box">
            <div class="comment-btn-box-left">
              <%= link_to image_tag(comment.user.profile.image, class: 'show-top-avatar'), user_path(comment.user.id) %>
              <%= link_to comment.user.username, user_path(comment.user.id), class: 'show-top-username' %>
            </div>
            <div class="comment-btn-box-right">
              <% if comment.user == current_user %>
                <%= link_to '削除', "/items/#{@item.id}/comments/#{comment.id}", method: :delete,  class: "comment-delete-btn" %>
              <% end %>
              <%= l comment.created_at %>
            </div>
          </div>
          <div class="comment-message">
            <%= comment.message %>
          </div>
          <div class="comment-bottom-border-box">
            <div class='comment-bottom-border'>
            </div>
          </div>
        </div>
      <% end %>

    </div>

  </div>

  <div class='show-right-content'>
  </div>
</div>

<%= render "shared/footer" %>