<%= render "shared/header" %>

<div class='main'>
  <div class='show-left-content'>

    <div class='show-top'>      
      <div class='show-top-info'>
        <div class='show-top-profile'>
          <%= link_to image_tag(@item.user.profile.image, class: 'show-top-avatar'), user_path(@item.user.id) %>
          <%= link_to @item.user.username, user_path(@item.user.id), class: 'show-top-username' %>   
          <span class='show-top-updated_at'><%= l @item.updated_at %> 更新</span>
        </div>
        <div class='show-top-command'>
          <% if user_signed_in? && @item.user.id == current_user.id  %>
            <%= link_to '編集する', edit_item_path(@item.id), class:'item-edit-btn' %>
          <% elsif user_signed_in? %>
            <%= link_to 'フォローする', '#', class: 'show-follow-btn' %>
          <% end %>
        </div>
      </div>
      <div class='show-top-caption'>
        <div class='show-top-title'>
          <%= @item.title %>
        </div>
        <div class='show-top-cate-tag'>
          <div class='show-top-category'>
            <%= @item.category.name%>
          </div>
          <div class='show-top-tag'>
            <%= @item.tagbody %>
          </div>
        </div>
        <div class='show-top-url'>
          <%= link_to "✴︎Source✴︎　#{@item.url}", @item.url %>
        </div>
      </div>
      <div class='show-top-communication'>
        <div class='show-top-communication-left' id="like-btn-<%= @item.id %>">
          <%# LIKEボタン%>
          <%= render partial: 'shared/like', locals: { item: @item } %>
          <%# // LIKEボタン%>
        </div>
        <div class='show-top-communication-right'>
          <%= link_to 'Twitter', '#', class:'show-top-sns-btn' %>
          <%= link_to 'LINE', '#', class:'show-top-sns-btn' %>
        </div>
      </div>
    </div>

    <div class='show-body'>
      <%= @item.body %>
    </div>

    <div class='show-bottom'>
    </div>

    <div class='show-comment-area'>

      <% if user_signed_in? %>
        <%= form_with model: @comment, url: item_comments_path(@item.id), local: true do |f| %>
          <%= f.text_area :message, class:"comment-text", id:"comment-text", placeholder:"コメントする", maxlength:"10000" %>
          <%= f.submit 'コメントする', class:'comment-btn'%>
        <% end %>
      <% else %>
        <span><%= link_to 'ユーザー登録', new_user_registration_path %>をしてコメントを書こう！</span>
      <% end %>

      <% @comments.each do |comment| %>
        <div class="comment-content">
          <div class="comment-message">
            <span><%= comment.message %></span>
          </div>
          <div class="comment-detail">
            <div class="comment-user-box">
              <div class="comment-user-type">
                <% if @item.user == comment.user %>
                  <span class="seller">出品者</span>
                <% else %>
                  <span class="buyer">投稿者</span>
                <% end %>
              </div>
              <div class="comment-user-name">
                <span><%= comment.user.username %></span>
              </div>
            </div>
            <div class="comment-date-title">
              <span>投稿日時</span>
            </div>
            <div class="comment-date">
              <span><%= l comment.created_at %></span>
            </div>
          </div>
          <% if comment.user == current_user %>
            <div class="comment-delete">
              <%= link_to 'コメントを削除', "/items/#{@item.id}/comments/#{comment.id}", method: :delete,  class: "delete-btn" %>
            </div>
          <% end %>
        </div>
      <% end %>
      
    </div>

  </div>

  <div class='show-right-content'>
  </div>
</div>

<%= render "shared/footer" %>